#contenedor {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    margin: auto;
    padding: auto;
}

/* Header Inicio */
.header-inicio, .header-contraincendios, .header-motores , .header-hidroneumaticos{
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

/* Herader de Blog */
.header-blog {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
/* Herader de Tienda */
.header-tienda {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
/* Herader de Contacto */
.header-contacto {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
/* Herader de Servicios */
.header-servicios {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

/* Headers de Otras lineas de porductos */
/* .header-contraincendios {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-motores {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-hidroneumaticos {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
} */

/* Headers de Bombas */
.header-altamira {
    background: #3789C8 url(../imagenes/bombas/altamira/portada.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-armstrong {
    background: #3789C8 url(../imagenes/bombas/armstrong/portada.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-aurora {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-barmesa {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-franklin {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-grundfos {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-impel {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-jandy {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-mann {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-netzsch {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-pentar {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-scott {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-tsurumi {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-wdm {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-wilo {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-yamada {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-zoeller {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}


/* Estilos de textos */
h1 {
    padding: 10px;
    text-align: center;
    font-family: Helvetica;
    font-size: 25px;

}

#h1-contraincendios {
    text-decoration: underline red;
    text-align: left;
    font-family: Helvetica;
    font-size: 14px;

}

#p1-contraincendios {
    text-align: left;
    font-family: Helvetica;
    font-size: 14px;
    width: 100%;
    height: 50%;
}

#p1 {
    text-align: left;
    font-family: Helvetica;
    font-size: 14px;
    margin: 2%;

}

#contenido {
    width: 100%;
    height: 100%;
    color: black;
}

#seccion {
    width: 30%;
    height: 30%;
    text-align: left;
    color: black;
    margin: auto;
    float: left;
}

/* div {
    margin: 5%;
} */

#logo {
    float: left;
    margin: auto;
    color: black;
}

#pie {
    clear: both;
    text-align: left;
    background-color: white;
    padding: 5px;
    color: black;
    font-family: Helvetica;
}

